<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<center>
<div class=" bg-gray-300 box-border w-96 p-5 shadow-xl rounded-xl mb-20">
    <h1 class="font-sans font-medium text-2xl ">Post List</h1>
    {% for post in drafts  %}
        <div>
            <h2>
                <a href="{% url 'blog:post_details' pk=post.id %}">{{post.id}}. {{ post.title }}</a>
            </h2>
            <p class="font-medium">Published on: </p>{{post.published_date}}

            
        </div>
        <br>
    {% endfor %}
</div></center>
{% endblock %}